body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    width: 300px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    margin: 5px;
    width: 45%;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}